<div class="card-columns m-5 animated fadeIn" *ngIf="items">
  <div (click)="showGnome( gnome )" *ngFor="let gnome of items" class="card puntero">
      <img class="card-img-top" [src]="gnome.thumbnail" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">{{ gnome.name }} ({{gnome.age}} years old)</h5>
          <p class="card-text" *ngIf="gnome.professions && gnome.professions.length > 0"><span class="font-weight-bold">Profession: </span>
            <span *ngFor="let profession of gnome.professions" class="badge badge-pill badge-primary">
              {{ profession }}
            </span>
          </p>
      </div>
  </div>
</div>
