<div class="row animated fadeIn" *ngIf="gnome">
  <div class="col-2">
      <img [src]="gnome.thumbnail" class="img-thumbnail img-circle">
  </div>
  <div class="col">
      <h3>{{ gnome.name }}</h3>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/home" class="btn btn-outline-danger">Return Gnomes Page</button>
  </div>
</div>
<div class="card animated fadeIn col">
  <div class="card-header title-card">
    Description
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="font-weight-bold">Age: </span> {{ gnome.age }}</li>
    <li class="list-group-item"><span class="font-weight-bold">Weight: </span> {{ gnome.weight }} Kg.</li>
    <li class="list-group-item"><span class="font-weight-bold">Height: </span> {{ gnome.height }} cm.</li>
    <li class="list-group-item"><span class="font-weight-bold">Hair Color: </span> {{ gnome.hair_color }}</li>
    <li class="list-group-item"><span class="font-weight-bold">Professions: </span>
      <div *ngIf="gnome.professions.length > 0">
        <span *ngFor="let profession of gnome.professions" class="badge badge-pill badge-primary">
          {{ profession }}
        </span>
      </div>
      <span *ngIf="gnome.professions.length === 0"> - </span>
    </li>
    <li class="list-group-item"><span class="font-weight-bold">Friends: </span>
      <div *ngIf="gnome.friends.length > 0">
        <span (click)="showGnome( friend )" *ngFor="let friend of gnome.friends" class="badge badge-pill badge-info puntero">
          {{ friend }}
        </span>
      </div>
      <span *ngIf="gnome.friends.length === 0"> - </span>
    </li>
  </ul>
</div>
