<div class="row">
    <div class="col">
        <input #word type="text" (keyup)="search(word.value)" class="form-control" placeholder="Search gnome...">
    </div>
</div>


<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-cards *ngIf="!loading" [items]="gnomes"></app-cards>
